.DS_Store
.DS_Store?
*.sw[nop]
.Trashes
.bundle
.byebug_history
.env
tags
tags.lock
tags.temp
!tags/
tmp/**/*
!tmp/cache/.keep
*.pyc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
