[alias]
	l = log --graph --oneline --decorate
	ll = log --stat --decorate --source -p

[core]
	# pager = delta
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	abbrev = 12
	ignorecase = false

[color]
	ui = auto

[commit]
	template = ~/.gitmessage

[diff]
	renames = copies

[include]
	path = ~/.gitconfig.local

[merge]
	ff = only
	conflictstyle = diff3

[push]
	default = simple
	followTags = true

[pull]
	ff = only

[pager]
	branch = false

# [interactive]
# 	diffFilter = delta --color-only
#
# [delta]
# 	features = line-numbers decorations
# 	syntax-theme = Dracula
# 	whitespace-error-style = 22 reverse
#
# [delta "decorations"]
# 	commit-decoration-style = bold yellow box ul
# 	file-style = bold yellow ul
# 	file-decoration-style = none
