[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[core]
	pager = delta
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	abbrev = 12
	ignorecase = false

[color]
	ui = auto

[commit]
	template = ~/.gitmessage

[diff]
	renames = copies

[include]
	path = ~/.gitconfig.local

[merge]
	ff = only
	conflictstyle = diff3

[push]
	default = simple
	followTags = true

[pull]
	ff = only

[pager]
	branch = false

[interactive]
	diffFilter = delta --color-only

[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
